*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body background */
body{
    height: 100vh;
    background-image: url(../Photo/loginIMG.jpg);
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

/* Links */
a{
    text-decoration: none;
    color: #111;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    background-color: #fff;
    opacity: 0.9;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
}

.nav-area li a{
    color: rgb(280, 31, 171);
    font-weight: 600;
    transition: 0.3s;
}

.nav-area li a:hover{
    color: #000;
}


.container{
    max-width: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Title */
.container .title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    color: #bc37a1;
}


.user-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box{
    width: 100%;
}

.input-box .details{
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.input-box input{
    width: 100%;
    height: 45px;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.input-box input:focus{
    border-color: #da2c4a;
}


.login-btn{
    margin-top: 25px;
}

.login-btn input{
    width: 100%;
    height: 45px;
    background: #da2c89;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn input:hover{
    background: #c84d91;
}


.login-text{
    margin-top: 20px;
    text-align: center;
     color: #150776;
}

.login-text .text{
    font-size: 14px;
    
}

.login-btn-link{
    color: #cc529b;
    font-weight: 600;
}

.login-btn-link:hover{
    text-decoration: underline;
}